@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Ubuntu&display=swap');
html body {
    background-image: url('../img/background.png');
}

main {
    background-color: rgb(22, 22, 22);
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
    position: block;
}

.nadpis {
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    margin: 20px;
    padding: 20px;
    color: white;
}

.underlineNadpis hr {
    width: 8%;
    margin-top: -40px;
    text-shadow: 0px 0px 20px white;
}

.underlineStatistiky hr {
    width: 11%;
    margin-top: -10px;
    text-shadow: 0px 0px 20px white;
}

.tlacitko {
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 12%;
    margin-top: 95px;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 0px 0px 20px white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
    background-image: url("../img/tlacitko.png");
    transition: 0.5s;
}

.tlacitko:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

body hr {
    border-top: 3px solid white;
    box-shadow: 0px 0px 20px white;
    margin-top: 50px;
    width: 100%;
}

.kostka {
    margin: 20px;
    margin-top: 105px;
}

.statistiky {
    margin-top: 2px;
    padding: 2px;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.vysledky {
    font-family: 'Dosis', sans-serif;
    color: rgb(141, 141, 141);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#result {
    color: white;
    font-size: 20px;
    display: block;
}

footer {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer a:visited {
    color: white;
    text-decoration: none;
}


/*#ff0a0a*/